@model IEnumerable<PenaltyV2.Models.Matches>
@{
    ViewBag.Title = "Resultados dos jogos da Primeira liga";
}
<div class="d-flex">
    <div class="p-2 mr-auto">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="p-2">
        <h3>Jornada: @Html.DropDownList("ddjornada", new SelectList(ViewBag.MatchesDay), "---", new { @onchange = "callChangefunc(this.value)" })</h3>
    </div>
</div>


@if (Model.Count() == 0)
{
    <tr>
        <td colspan="10">No Record's found.</td>
    </tr>
}
else
{

    string nulo = "X";
    int i = 0;



    <div class="d-flex justify-content-center">
        <h3>
            @if (ViewBag.JornadaAnt > 0)
            {
                <a href="/Home/TeamMatches?matchday=@ViewBag.JornadaAnt"><i class="fa fa-arrow-left"></i></a>
            }
            &nbsp;<b>@ViewBag.Message</b>&nbsp;
            @if (ViewBag.JornadaSeg <= ViewBag.UltimaJornada)
            {
                <a href="/Home/TeamMatches?matchday=@ViewBag.JornadaSeg"><i class="fa fa-arrow-right"></i></a>
            }
        </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th></th>
                    <th align="center" scope="col">Casa</th>
                    <th></th>
                    <th width="20" height="20" scope="col"></th>
                    <th scope="col">Resultado</th>
                    <th width="20" height="20" scope="col"></th>
                    <th></th>
                    <th align="center" scope="col">Fora</th>
                    <th>Data do Jogo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string urlimagehome = item.Idhometeam + ".png";
                    string urlimageaway = item.Idawayteam + ".png";

                    <tr>
                        <th scope="row"><a href="Audit?IdmatchAPI=@item.IdmatchAPI">@(i + 1)</a></th>
                        <td></td>
                        <td><img width="30" height="30" src="@item.LogoUriHome" /> @item.Hometeam</td>
                        <td></td>
                        <td valign="middle" width="20" height="20">
                            @if (item.Hometeamgoals != null)
                            {
                                @item.Hometeamgoals
                            }
                            else
                            {
                                @nulo
                            }
                        </td>
                        <td align="center" width="20" height="20">-</td>
                        <td valign="middle" width="20" height="20">
                            @if (item.Awayteamgoals != null)
                            {
                                @item.Awayteamgoals
                            }
                            else
                            {
                                @nulo
                            }
                        </td>
                        <td></td>
                        <td><img width="30" height="30" src="@item.LogoUriAway" /> @item.Awayteam</td>
                        <td>@(((DateTime)item.UtcDate).ToString("g"))</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
}

<script>
    function callChangefunc(val) {
        window.location.href = "/Home/TeamMatches?matchday=" + val;
    }
</script>
