@model IEnumerable<PenaltyV2.Models.TStands>
@{
    ViewData["Title"] = "Classificações";
}

<div class="table-responsive">
    <table class="table table-condensed table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">Sem registos.</td>
            </tr>
        }
        else
        {
            int i = 0;
            <thead>
                <tr>
                    <th>Posição</th>
                    <th data-defaultsign="AZ">Equipa</th>
                    <th data-firstsort="desc">Pontos</th>
                    <th>Jogos Feitos</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                i++;
                int numEquipas = Model.Count();
                string classe = "";
                switch(i)
                {
                    case 1: classe = "table-primary"; break;
                    case 2: classe = "table-info"; break;
                    case 3: classe = "table-info"; break;
                    case 16: classe = "table-warning"; break;
                    case 17: classe = "table-danger"; break;
                    case 18: classe = "table-danger";break;
                    default:
                        break;
                }

            <tr class="@classe">
                <td>@i</td>
                <td>
                    <span class="img-fluid"><img class="thumbnail" src="@item.Team.LogoUri" style="width:20px;height:20px" /> @item.Team.Name</span>
                </td>
                <td>@item.Stand.Points</td>
                <td>@item.Stand.MatchesPlayed</td>
                <td>@item.Stand.Wins</td>
                <td>@item.Stand.Draws</td>
                <td>@item.Stand.Losses</td>
            </tr>
        }
        }
</ table >
</ div >

