@model IEnumerable<PenaltyV2.Models.Userscores>
@{
    ViewData["Title"] = "Pontuação";
}

<div class="row">
    <div class="col-md-10">
        <h2>Liga: @ViewBag.LigaSelecionada  </h2>
    </div>
    @*<div class="col-md-2" style="padding-top:5px">
            @Html.DropDownList("ddliga", new SelectList(ViewBag.Ligas), "Selecione Liga", new { @onchange = "callChangefunc(this.value)" })
        </div>*@
</div>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">Sem registos.</td>
            </tr>
        }
        else
        {
            int i = 0;
            <thead>
                <tr>
                    <th>Posição</th>
                    <th data-defaultsign="AZ">Nome</th>
                    <th data-defaultsign="AZ">Equipa</th>
                    <th data-firstsort="desc">Pontos</th>
                    <th>Apostas Acertadas</th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                i++;
                string rowclasse = item.Username.Equals(User.Identity.Name) ? "table-active" : "";
                <tr class="@rowclasse">
                    <td>@i</td>
                    <td>
                        @if (item.UserImg != null)
                        {
                            <span class="img-fluid"><img class="thumbnail" src="data:image/png;base64,@Convert.ToBase64String(item.UserImg)" /> @item.Name</span>
                        }
                        else
                        {
                            <span class="img-fluid"><img class="thumbnail" src="~/Images/defaultuser.png" style="width:20px;height:20px" /> @item.Name</span>
                        }

                    </td>
                    <td>@item.Favoriteteam</td>
                    <td>@item.Score</td>
                    <td>@item.Perfects</td>
                </tr>
            }
        }
    </table>
</div>
<div class="row" style="float:right">P.S.: Pontuações até à jornada secreta (@ViewBag.JornadaSecreta).</div>
<script>
    function callChangefunc(val) {
        window.location.href = "/Home/UserScores?league=" + val;
    }
    function bigImg(x) {
        x.style.height = "64px";
        x.style.width = "64px";
    }

    function normalImg(x) {
        x.style.height = "32px";
        x.style.width = "32px";
    }
</script>
