@model IEnumerable<PenaltyV2.Models.Userscores>
@{
    ViewData["Title"] = "Pontuação";
}

<div class="row">
    <div class="col-md-10">
        <h2>Liga: @ViewBag.LigaSelecionada  </h2>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">Sem registos.</td>
            </tr>
        }
        else
        {
            int i = 0;
            <thead>
                <tr>
                    <th>Posição</th>
                    <th data-defaultsign="AZ">Nome</th>
                    <th data-defaultsign="AZ">Equipa</th>
                    <th data-firstsort="desc">Pontos</th>
                    <th>Apostas Certas</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                i++;
                string rowclasse = item.Username.Equals(User.Identity.Name) ? "table-active" : "";
                <tr class="@rowclasse">
                    <td>@i</td>
                    <td>
                        @if (item.UserImg != null)
                        {
                            <span class="img-fluid"><img class="thumbnail" src="data:image/png;base64,@Convert.ToBase64String(item.UserImg)" /> @item.Name</span>
                        }
                        else
                        {
                            <span class="img-fluid"><img class="thumbnail" src="~/Images/defaultuser.png" style="width:20px;height:20px" /> @item.Name</span>
                        }

                    </td>
                    <td>@item.Favoriteteam</td>
                    <td>@item.Score</td>
                    <td>@item.Perfects</td>
                    @if ((item.Score - ViewBag.VolumeApostas) > 0.0m)
                    {
                     <td style="color: green; border-style: solid">
                         @(item.Score-ViewBag.VolumeApostas)€
                     </td>
                    }
                    else
                    {
                     <td style="color: red; border-style: solid">
                         @(item.Score-ViewBag.VolumeApostas)€
                     </td>
                    }
                </tr>
            }
        }
    </table>
</div>
<div class="row" style="float:right">P.S.: Pontuações até à jornada secreta (@ViewBag.JornadaSecreta).</div>
<script>
    function callChangefunc(val) {
        window.location.href = "/Home/UserScores?league=" + val;
    }
</script>
